@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif ;
    margin:0px;
    padding:0px;
}

html, body{
    background-image: linear-gradient(to top,#281979,#472DD5);
    color:whitesmoke;
    height: 100vh;
}

.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding:10px;
  display:block;
  text-align: center;
  
}
.material-symbols-outlined:hover{
    background-color:#CCF380;
    text-shadow: 1px 1px 1px #231668;
    cursor: pointer;
    
}

header{
    width: 100vw;
    background-color: #472DD5;
    box-shadow: inset 0px 0px 10px  #3622A2;
}

header h1{
    text-align: center;
    font-weight: bold;
}

menu{
    display: none;
}
menu ul{
    list-style-type: none;
    
}

menu a {
    text-decoration: none;
    display: block;
    padding:10px;
    background-color: #CCF380;
    color:whitesmoke;
    text-shadow: 1px 1px 3px #3622A2;
    text-align: center;
    border-top:0.5px solid #9cba61
}

menu ul :hover{
    background-color: #472DD5;
}

menu ul :active{
    background-color: #ed39db
}
main{
    width:90vw;
    margin:auto;
    background-color: #472ed5;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 10px 10px 2px #27197572;
    margin-top:20px;
    margin-bottom: 20px;
    line-height: 1.4em;
}
main h2 {
    text-align: center;
    margin-bottom: 15px;
    
}

main>article>p {
    text-align: justify;
    text-indent: 40px;
    line-height: 1.3em;
    
}